/* DarkMode.css */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.navbar-dark {
  background-color: #343a40 !important;
}

.navbar-light {
  background-color: #f8f9fa !important;
}

.bg-dark {
  background-color: #343a40 !important;
}

.text-light {
  color: #ffffff !important;
}

.bg-light {
  background-color: #ffffff !important;
}

.text-dark {
  color: #000000 !important;
}